@using Poizon.Domain.Helpers;
@model List<ClothesWithName>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers\
<div class="cart-container">
    <div class="close-button">&times;</div>
    <h2 class="cart-title">Корзина</h2>
    @foreach (var item in Model)
    {

        string base64Image = Convert.ToBase64String(item.Photo);
        string imageSrc = string.Format("data:image/png;base64,{0}", base64Image);
        <div class="cart-items">
            <ul class="cart-list">
                <li class="cart-item">
                    <div class="cart-item-image">
                        <img src="@imageSrc" alt="Product 1">
                    </div>
                    <div class="cart-item-details">
                        <div class="cart-item-title">@item.SubSubCategoryName @item.BrandName</div>
                        <div class="cart-item-quantity" style="padding-bottom: 1vh; padding-top: 1vh;">
                            <button class="quantity-btn minus-btn">-</button>
                            <input type="number" id="quantity-1" value="@item.Count" min="1" class="custom-input">
                            <button class="quantity-btn plus-btn">+</button>
                        </div>
                        <div class="cart-item-price">Цена: @item.Price ₽</div>
                        <a href="#" class="cart-item-remove">Удалить</a>
                    </div>
                </li>
            </ul>
        </div>
    }
    <div class="total">Итого: $0</div>
    <button class="checkout-button">Оформить заказ</button>
</div>


<style>
    .minus-btn {
        background-color: #8e8e8e;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        width: 25px;
        height: 25px;
    }

    .plus-btn {
        background-color: #8e8e8e;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        width: 25px;
        height: 25px;
    }

    .quantity-btn:hover {
        background-color: #c1c1c1;
    }

    .custom-input {
        margin-left: 1vh;
        margin-right: 1vh;
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 25px;
        font-size: 13px;
        height: 25px;
    }

    .custom-input {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
        padding: 0;
        text-align: center;
    }
</style>
<script>
        $(document).ready(function () {
            updateTotal();

        $(".quantity-btn").on("click", function () {
            var input = $(this).siblings("input");
        var currentValue = parseInt(input.val());

        if ($(this).hasClass("plus-btn")) {
            input.val(currentValue + 1);
            } else if ($(this).hasClass("minus-btn") && currentValue > 1) {
            input.val(currentValue - 1);
            }

        updateTotal();
        });

        $(".custom-input").on("change", function () {
            var currentValue = parseInt($(this).val());
        if (currentValue < 1) {
            $(this).val(1);
            }

        updateTotal();
        });

        function updateTotal() {
            var total = 0;

        $(".cart-item").each(function () {
                var price = parseFloat($(this).find(".custom-input").data("price"));
        var quantity = parseInt($(this).find(".custom-input").val());
        var itemTotal = price * quantity;
        total += itemTotal;
            });

            $(".total").text("Итого: " + total.toFixed(2) + "₽");
        }
        });

        $(document).ready(function () {
    // Открытие корзины по клику на ссылку "Корзина"
    $(document).on("click", ".cart-link", function (event) {
        event.preventDefault(); // Предотвращаем переход по ссылке
        $.ajax({
            url: '/Order/ShowBasket', // URL для метода ShowBasket в OrderController
            type: "GET",
            success: function (data) {
                // При успешном получении данных, отображаем их в cart-overlay
                $(".cart-overlay").fadeIn();
                $(".cart-container").css("right", "0");
                $(".cart-container").html(data); // Заменяем содержимое контейнера полученными данными

                // Привязываем обработчики к кнопкам + и -
                $(".plus-btn").on("click", function () {
                    var input = $(this).siblings("input");
                    var currentValue = parseInt(input.val());
                    input.val(currentValue + 1);
                });

                $(".minus-btn").on("click", function () {
                    var input = $(this).siblings("input");
                    var currentValue = parseInt(input.val());
                    if (currentValue > 1) {
                        input.val(currentValue - 1);
                    }
                });

                // Привязываем обработчик к кнопке закрытия
                $(".close-button").on("click", function () {
                    $(".cart-overlay").fadeOut();
                });
            },
            error: function () {
                // Обработка ошибки, если не удалось получить данные
                alert("Ошибка при загрузке корзины.");
            }
        });
    });
        });
</script>

