@using Poizon.Domain.ViewModel;
@model CatalogFilters
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="contenter">
    <div class="rectangle-2" style="margin-top: 5vh;">
        <div class="container">
            <h1 class="about-store">Каталог</h1>
            <div class="line-1"></div>
        </div>
    </div>
    <main>
        <div class="flex">
            <button id="toggle-menu-button"></button>
            <div class="content-menu">
                <div class="sidebar">
                    <aside>
                        <ul class="menu">
                            @foreach (var category in ViewBag.ViewModel.Categories)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="#">@category.Name ▼</a>
                                    @if (ViewBag.ViewModel.SubcategoriesByCategoryId.ContainsKey(category.Id))
                                    {
                                        var subcategories = ViewBag.ViewModel.SubcategoriesByCategoryId[category.Id];
                                        <ul class="submenu">
                                            @foreach (var subcategory in subcategories)
                                            {
                                                <li class="submenu-item">
                                                    <ul class="menu">
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#" onclick="applySubcategoryFilter(@subcategory.Id)">@subcategory.Name ▼</a>
                                                            @if (ViewBag.ViewModel.SubSubcategoriesBySubcategoryId.ContainsKey(subcategory.Id))
                                                            {
                                                                var subsubcategories = ViewBag.ViewModel.SubSubcategoriesBySubcategoryId[subcategory.Id];
                                                                <ul class="submenu">
                                                                    @foreach (var subsubcategory in subsubcategories)
                                                                    {
                                                                        <li class="submenu-item">
                                                                            <a class="submenu-link" href="#" onclick="applySubsubcategoryFilter(@subsubcategory.Id)">@subsubcategory.Name</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                      </ul>
                                                </li>
                                            }
                                    </ul>
                                      }
                                </li>

                            }
                        </ul>
                        <button class="close-menu-button">✕</button>
                    </aside>
                </div>

                <section class="product-list">
                    @foreach (var item in ViewBag.Data)
                    {
                        <a href="" class="product-a">
                            <div class="product">
                                @{
                                    string base64Image = Convert.ToBase64String(item.Photo);
                                    string imageSrc = string.Format("data:image/png;base64,{0}", base64Image);
                                }
                                <img src="@imageSrc" alt="Product 1">
                                <h3>@item.SubSubCategoryName @item.BrandName</h3>
                                <p>@item.ModelName</p>
                                <span class="price">@item.Price ₽</span>
                                <a href="#" class="btn">Добавить в корзину</a>
                            </div>
                        </a>
                    }
                </section>
            </div>
        </div>
    </main>
</div>



<script>document.getElementById("toggle-menu-button").addEventListener("click", function () {
        var sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("active");
    });

    document.querySelector(".close-menu-button").addEventListener("click", function () {
        var sidebar = document.querySelector(".sidebar");
        sidebar.classList.remove("active");
    });</script>

<script>document.addEventListener('DOMContentLoaded', function () {
        var navItems = document.querySelectorAll('.nav-item');

        navItems.forEach(function (navItem) {
            var link = navItem.querySelector('.nav-link');
            var submenu = navItem.querySelector('.submenu');

            if (submenu) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    submenu.classList.toggle('show');
                });
            }
        });
    });</script>





<style>
    /* Общие стили для меню */
    .menu {
        list-style: none;
        padding: 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .nav-link {
        display: block;
        color: #333;
        font-size: 20px;
        font-family: "Grotesk";
        font-weight: bold;
        text-decoration: none;
        padding: 10px 0;
    }

    .submenu {
        list-style: none;
        padding-left: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .submenu-item {
        margin-bottom: 5px;
    }

    .submenu-link {
        display: block;
        color: #555;
        font-size: 16px;
        font-family: "Grotesk";
        text-decoration: none;
    }

    .show {
        max-height: 500px; /* Укажите максимальную высоту, достаточную для отображения всех пунктов подменю */
        transition: max-height 0.9s ease-in;
    }
</style>